[flake8]
ignore =
    # E402 module level import not at top of file
    E402,
    #  W503 line break before binary operator
    W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    mrfitty/_version.py,
    docs/source/conf.py
max-line-length = 115
